appdirs==1.4.4
blinker==1.4
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
distlib==0.3.1
filelock==3.0.12
Flask==1.1.2
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
gTTS==2.2.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
numpy==1.20.1
playsound==1.2.2
pynput==1.7.3
requests==2.25.1
six==1.15.0
SpeechRecognition==3.8.1
SQLAlchemy==1.4.15
urllib3==1.26.4
virtualenv==20.4.6
Werkzeug==1.0.1
wfastcgi==3.0.0
