{% extends "layout.html" %}
{% block body %}

    <!-- home section -->
    <section class="home" id="home" style="background-image: url('{{ url_for('static', filename='img/coding31.jpg') }}')">
        <div class="max-width">
            <div class="home-content">
                <div class="text-1">Hello, I am</div>
                <div class="text-2">Saptarshi Sarkar</div>
                <div class="text-3">And I am a <span  class="typing"></span></div>
                    <!-- <a href=""></a> -->
            </div>
        </div>
        </div>
    </section>
        
{% endblock %}




